.container {
  margin:20px auto;
}
.header {
    margin: 0 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.logo a, .title-product a {
  color:#333333;
}
.logo a:hover {
  text-decoration:none;
}
.page-header {
   margin: 0;
}
.list-group-item:first-child {
  border-radius:0px;
}
.list-group-item:last-child {
  border-radius:0px;
}
.products .box-product {
    border: 1px solid #eee;
    margin: 25px 0px 0;
    padding: 20px;
}
.products .box-product h4 {
    clear: both;
    padding-top: 20px;
}
.cart .box-product {
    border: 1px solid #eee;
    margin: 25px 0px 0;
    padding: 10px;
}
.cart .box-product h4 {
    clear: both;
}
.cart .price {
  margin-top: 23px;
}
.cart .btn-danger {
  margin-top: 20px;
}
.cart .btn-danger span {
  margin-right: 10px;
}
.serch-form .form-inline input {
    width: 100%;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #eee;
    margin-top: 2px;
}
.list-group {
    margin-top: 27px;
}
.cart-button {
    margin-top: 22px;
}
.cart-button span {
    margin-right:10px;
}
.price {
    color: orange;
    font-size: 20px;
}
.activestar {
  color:orange;
}
.product-single .product-content {
    padding: 10px 15px;
}
.product-single .product-content .row {
    margin:15px 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #46b8da;
    border-color: #46b8da;
}
.related-products {
   margin-top:30px
}
